.ul-first-tag {
    list-style-type: circle;
}

.ul-first-tag li:nth-child(even) {
    color: rgb(119, 0, 255);
}

.ul-first-tag li:nth-child(odd) {
    color: red;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

/* table tr:nth-child(even) {
    background-color: red;
}

table tr:nth-child(odd) {
    background-color: rgb(85, 85, 224);
} */


table tr th {
    border: 1px solid black;
}


table th:nth-child(2n) {
    background-color: rgb(85, 224, 201);
}

table th:nth-child(2n+1) {
    background-color: rgb(196, 216, 141);
}